@font-face {
    font-family: "Craftwork Grotesk";
    src: url("../assets/fonts/CraftworkGrotesk-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Craftwork Grotesk";
    src: url("../assets/fonts/CraftworkGrotesk-SemiBold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Advaken Sans";
    src: url("../assets/fonts/AdvakenSans.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}